<!-- templates/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard de Cobranzas{% endblock %}

{% block content %}
    <h2>Dashboard de Cobranzas</h2>
    <br><br>
    <div class="row">
    <div class="col-md-6">
        <h3>Total de Deuda: ${{ total_deuda | format_number}}</h3>
        <canvas id="deudaPorCategoriaChart"></canvas>
    </div>
     <div class="col-md-6">
           <h3>Deuda por Vendedor</h3>
         <canvas id="deudaVendedorChart"></canvas>
     </div>
    </div>
    

    <li class="nav-item">
        <!-- Botón de Actualizar Datos -->
        <form method="post" action="{{ url_for('update_data') }}">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-sync-alt"></i> Actualizar Datos
            </button>
        </form>
    </li>

    <br>
    <form action="/generate_reports" method="post" >
        <button type="submit" class="btn btn-primary">Generar y Enviar Reportes</button>
      </form>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
         // Datos para el gráfico de deuda por categoria de cliente
        const saldosCategorias = JSON.parse('{{ saldos_por_categoria_clientes | tojson | safe }}');
         const labelsCategorias = Object.keys(saldosCategorias);
         const saldos = Object.values(saldosCategorias);
         const coloresOrdenados = [
            'green',  // Verde
            'orange',  // Amarillo
            'red'   // Rojo
        ];
         const bordesOrdenados = [
             'rgb(75, 192, 192)',   // Verde
            'rgb(255, 205, 86)',     // Amarillo
             'rgb(255, 99, 132)'    // Rojo
        ];
        // Configuración del gráfico de deuda por categorias de cliente
        const ctxDeudaPorCategoria = document.getElementById('deudaPorCategoriaChart').getContext('2d');
        const deudaPorCategoriaChart = new Chart(ctxDeudaPorCategoria, {
                type: 'bar',
                data: {
                    labels: labelsCategorias,
                     datasets: [{
                        label: 'Deuda por Categoría',
                        data: saldos,
                        backgroundColor: coloresOrdenados,
                         borderColor: bordesOrdenados,
                        borderWidth: 1
                      }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                         }
                      }
            });
        
        // Datos para el gráfico de deuda por vendedor
        const labelsVendedores = JSON.parse('{{ labels_vendedores | tojson | safe}}');
        const deudasVendedores = JSON.parse('{{ deudas_vendedores | tojson | safe }}');
         // Configuración del gráfico de deuda por vendedor
        const ctxDeudaVendedor = document.getElementById('deudaVendedorChart').getContext('2d');
        const deudaVendedorChart = new Chart(ctxDeudaVendedor, {
                type: 'bar',
                data: {
                    labels: labelsVendedores,
                    datasets: [{
                        label: 'Deuda por Vendedor',
                        data: deudasVendedores,
                        backgroundColor: 'blue',
                        borderColor: 'rgb(102, 196, 255)',    
                        borderWidth: 1
                       }]
                    },
                 options: {
                     scales: {
                        y: {
                           beginAtZero: true
                           }
                       }
                    }
            });
    });
</script>


{% endblock %}